body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab.active {
  background-color: #333;
  color: white;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.property-card {
  width: 30%;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-image-container {
  display: flex;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.property-image {
  width: 100%; /* Each image width is 100% of the card width */
  height: 150px;
  object-fit: cover;
}

.property-details {
  padding: 10px;
}

.show-more {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .property-card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .property-card {
    width: 100%;
  }
}
